@charset "UTF-8";
/*pages*/
/* Frame home*/
.bienvenida {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.proceso-creativo {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.texto {
  max-width: 50%;
}

.titSeccion {
  font-size: 40px;
  margin-bottom: 10px;
}

.presentacion {
  font-size: 18px;
}

.imgcontacto {
  width: 50%;
  height: auto;
  border-radius: 50px;
  border: 1px solid;
}

.realidad {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0, 5fr));
  gap: 40px; /* Espacio entre los elementos */
  align-items: start;
}

/* Wrapper para imagen y texto */
.image-wrapper {
  position: relative;
  display: inline-block; /* Ajusta el tamaño al contenido */
  width: 512px;
  height: 365px;
  overflow: hidden;
  border-radius: 15px; /* Redondeo del contenedor */
}

/* Imagen con estilo existente */
.musimundoRediseno {
  width: 512px;
  height: 365px;
  border-radius: 15px; /* Redondeo para la imagen */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estilo para la nueva imagen (Dibujo bocetado)*/
.framesDibujo {
  width: 512px;
  height: 365px;
  border-radius: 15px; /* Redondeo para la imagen */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.caracteristicas {
  text-align: center;
  padding: 2rem;
  border: #000 solid 2px;
}

.contenedor-caracteristicas {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 2rem;
  align-items: center; /* Alinea los elementos verticalmente */
  justify-items: center; /* Centra los elementos horizontalmente */
}

.contenedor-caracteristicas img {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.contenedor-caracteristicas div:active {
  transform: scale(0.95);
  background-color: #ddd;
}

.proceso-creativo {
  text-align: center;
  border: 2px solid #000;
}

.procesoDesc {
  width: 50px;
  height: 50px;
}

.procesoVali {
  width: 50px;
  height: 50px;
}

.procesoEntrega {
  width: 50px;
  height: 50px;
}

.referencias {
  text-align: center;
}

/* Fin home*/
/* Sobre Mi */
.sobreMi {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  color: #000;
}

.imgInfo {
  margin-top: 30px;
  margin-block-end: 30px; /* Revisar*/
  margin-left: 480px;
}

.imgsSobremi {
  text-align: center;
  margin-block-end: 30px;
}

/* Fin Sobre Mi */
/* Espaciado  */
.espaciado-lateral {
  padding: 0 40px;
  text-align: justify;
  margin: 0 auto;
}

/* Fuente bold */
.bold-text {
  font-weight: bold;
}

/* Herramientas y tecnologias */
.herramientas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.herramientas section {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.herramientas img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 20px;
}

.herramientas p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 0;
}

/* Fin Conocimeintos */
/* Portfolio*/
/* Espaciado  */
.espaciado-lateral {
  padding: 0 40px;
  text-align: justify;
  margin: 0 auto;
}

.carousel-inner img {
  max-height: 700px; /* Ajusta la altura máxima */
  width: 100%; /* Asegura que las imágenes ocupen el ancho del contenedor */
  object-fit: contain; /* Evita que las imágenes se corten */
}

/* Frame Contacto */
#contacto {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.pContacto {
  text-align: center;
}

#contenedor-contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.contactoimg img {
  width: 650px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid #000;
}

.form-contacto {
  text-align: left;
  width: 40%;
}

#form {
  display: flex;
  flex-direction: column;
}

#form label {
  margin: 5px 0 3px;
}

#form input,
#form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form button {
  background-color: #464747;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#form button:hover {
  background-color: #7e7e7e;
}

/* Fin contacto */
/*presets*/
/* navgacion*/
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  color: #000;
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0 15px;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  padding: 10px;
}

.navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
  filter: invert(0);
}

/* fin navegacion */
* {
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Montserrat;
}

#main {
  margin: 0px;
  min-height: 68vh;
}

.titSeccion {
  text-align: center;
  font-size: 40px;
}

/* Footer */
#footer {
  background-color: #e0e0e0;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
  border: 1px solid #000;
}

.footer-redes p {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.redes img {
  width: 32px;
  height: 32px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.footer-nav li {
  margin: 0 15px;
  font-size: 18px;
  position: relative;
}

.footer-nav a {
  text-decoration: none;
  color: #000;
}

.sello-creadoporsalomon p {
  font-size: 14px;
  color: #666;
}

/* Fin Footer */
/* Media queries para responsive design */
@media (max-width: 768px) {
  /* portfolio responsive*/
  .titSeccion {
    font-size: 2rem;
  }
  .subtituloPortfolio {
    font-size: 1.5rem; /* el carrusel de boostrap ya tiene lo responsive, solo agregue el texto responsive para que cuando se aleje se achique*/
  }
  .misConocimientos {
    font-size: 0.9rem;
  }
  /* Fin portfolio responsive*/
  /* Contacto responsive */
  #contenedor-contacto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contactoimg img {
    width: 90%;
    height: auto;
  }
  .form-contacto {
    width: 100%; /* en cuanto a contacto, agregue como metodo responsive que el formulario se mueva por debajo de la imagen de presentacion que tiene la seccion*/
    padding: 0 20px;
  }
  #form input,
  #form textarea {
    font-size: 1rem;
    padding: 12px;
  }
  #form button {
    font-size: 1rem;
    padding: 12px;
  }
  /* Fin Contacto*/
  /* Home*/
  .bienvenida .texto h1 {
    font-size: 1.5rem;
  }
  .bienvenida {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .texto {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .titSeccion {
    font-size: 30px; /* Ajusta el tamaño de fuente del título */
  }
  .imgcontacto {
    display: none;
  }
  .caracteristicas .contenedor-caracteristicas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .caracteristicas .contenedor-caracteristicas p {
    display: none;
  }
  .caracteristicas h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  .caracteristicas h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
  }
  .proceso-creativo {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .proceso-creativo img {
    width: 65px;
  }
  .proceso-creativo h3 {
    font-size: 1.2rem;
  }
  .proceso-creativo p {
    display: none;
  }
  /* Fin Home*/
}
/* Sobre Mi*/
@media (max-width: 900px) {
  /* Título */
  #main .titSeccion {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  /* Texto de descripción */
  #main .sobreMi {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 1rem auto;
    max-width: 800px;
  }
  /* Ocultar imágenes */
  #main .imgInfo,
  .imgsSobremi {
    display: none; /* Oculta las imágenes y la sección de imágenes */
  }
}
/* Fin Sobre Mi*/
/* porque elegirme Home) */
.contenedor-caracteristicas div:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.proceso-creativo div img {
  transition: transform 0.3s ease;
}

.proceso-creativo div:hover img {
  transform: scale(1.2);
}

/* HOME      Animacion para la imagen de musimundo y boceto (Titulo "Hagamos tus ideas realidad", "Tu visión, transformada en experiencias únicas." */
/* Texto oculto inicialmente */
.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: white;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 80%; /* Ajusta el ancho del texto según necesites */
}

.hover-container {
  text-align: center;
}

/* Efecto hover en la imagen (Musimundo) */
.image-wrapper:hover .musimundoRediseno {
  transform: scale(1.1); /* Zoom al 110% */
  opacity: 0.7;
}

/* Mostrar el texto al hacer hover */
.image-wrapper:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

/* Efecto hover en la nueva imagen (Dibujo bocetado) */
.image-wrapper:hover .framesDibujo {
  transform: scale(1.1); /* Zoom al 110% */
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
