/* porque elegirme Home) */
.contenedor-caracteristicas div:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.proceso-creativo div img {
    transition: transform 0.3s ease;
}

.proceso-creativo div:hover img {
    transform: scale(1.2);
}

/* HOME      Animacion para la imagen de musimundo y boceto (Titulo "Hagamos tus ideas realidad", "Tu visión, transformada en experiencias únicas." */
/* Texto oculto inicialmente */
.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 80%; /* Ajusta el ancho del texto según necesites */
}

.hover-container {
    text-align: center; 
}

  /* Efecto hover en la imagen (Musimundo) */
.image-wrapper:hover .musimundoRediseno {
    transform: scale(1.1); /* Zoom al 110% */
    opacity: 0.7;
}

  /* Mostrar el texto al hacer hover */
.image-wrapper:hover .hover-text {
    opacity: 1;
    visibility: visible;
}


  /* Efecto hover en la nueva imagen (Dibujo bocetado) */
.image-wrapper:hover .framesDibujo {
    transform: scale(1.1); /* Zoom al 110% */
    opacity: 0.7;
}