* {
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Montserrat;
  }
  
  #main {
    margin: 0px;
    min-height: 68vh;
  }
  
  .titSeccion {
    text-align: center;
    font-size: 40px;
  }