/* Portfolio*/
/* Espaciado  */
.espaciado-lateral {
    padding: 0 40px; 
    text-align: justify; 
    margin: 0 auto; 
    
}


.carousel-inner img {
    max-height: 700px; /* Ajusta la altura máxima */
    width: 100%; /* Asegura que las imágenes ocupen el ancho del contenedor */
    object-fit: contain; /* Evita que las imágenes se corten */
}