/* Sobre Mi */
.sobreMi {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #000;
}

.imgInfo {
    margin-top: 30px;
    margin-block-end: 30px; /* Revisar*/
    margin-left: 480px;
}

.imgsSobremi {
    text-align: center;
    margin-block-end: 30px;
}

  /* Fin Sobre Mi */